@font-face{
    src: url(fonts/kaftan.woff);
    src: url(fonts/kaftan.woff2);
    font-family: 'Kaftan'
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Kaftan", sans-serif;
    margin: 0;
}

main {
    padding: 2.25rem;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: #0c75c6;
    color: white;
    padding: 20px;
}

.troll-face {
    height: 100%;
    margin-right: 10px;
    background-color: #D5D4D8;
}

.header-title {
    font-size: 2rem;
    margin-right: auto;
}

.header-sub {
    font-size: .75rem;
    font-weight: lighter;
}

.form--container {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 20px;
    
}

.form--input {
    font-family: "Kaftan", sans-serif;
    border-radius: 6px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--btn {
    background: #0c75c6;
    grid-column: 1 / -1;
    color: white;
    font-family: "Kaftan", sans-serif;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.img--cointainer{
    padding: 2.25rem;
    display: flex;
    justify-content: center;
}
.meme--img {
    margin-top: .5em;
    border-radius: 6px;
    text-align: center;
    max-width: 100%;
}